<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/table.css}" rel="stylesheet">
<title>TOP</title>
</head>
<body>
	<h1>minimum掲示板</h1>
    <h5>※この掲示板はつぶやくことのみを目的とした匿名の掲示板です。</h5>
    <h3>新規投稿はこちらから↓</h3>

	<a href="/new">新規投稿</a>

	<table border="1">
		<tr>
			<th>ID</th>
			<th width ="91%">内容</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td>
				<a th:href="@{/edit/{id}(id=${content.id})}">編集</a>
			</td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
	</table>

</body>
</html>